.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-text {
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  margin-left: 156px;
  margin-top: 24px;
  gap: 40px;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 40px;
}
.contact-list {
  display: flex;
  gap: 40px;
  margin-top: 24px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.nav-menu .nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0 24px;
}
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: #4d5ae5;
  text-decoration: underline;
}
.contact-info {
  font-style: normal;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.contact-list .contacts:hover,
.contact-list .contacts:focus {
  color: #4d5ae5;
  text-decoration: underline;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.first-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.frst-section .site-title {
  color: #ffffff;
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
.site-title {
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 260px;
  padding-left: 472px;
  top: 260px;
  padding-right: 472px;
  max-width: 496px;
}
.btn {
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.first-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.main-page {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.main-text {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.prgph {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.values {
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}
.values-item {
}
.section-about {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.abt-us {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  background-color: #f4f4fd;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: calc((100% - 72px) / 4);
}
.item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-members {
  padding-top: 32px;
  padding-bottom: 32px;
}
.names {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 0px 0px 4px 4px;
}
.roles {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  max-width: 264px;
  margin-top: 8px;
  margin-bottom: 24px;
}
.section-portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}
.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.projects {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.projects-descr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.footer-prgph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.footer-logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-decoration: none;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
.header {
  width: 1440px;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}
.footer-container {
  max-width: 264px;
  padding-top: 140px;
  margin-left: 156px;
}

